@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

  

    @using (Html.BeginForm("Validacion", "Login", FormMethod.Post))
    {
        <div class="form-group">
            <label for="usr">Usuario:</label>
            <input type="text" class="form-control" name="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Nombre:</label>
            <input type="password" class="form-control" name="pwd">
        </div>
        <button type="submit" class="btn btn-success">Ingresar</button>


    }



